/* general styling */
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background: linear-gradient(#454582, #927496);
    font-family: 'Lato', sans-serif;
}
h2{
    margin-top: 0;
    text-align: center;
}
ul{ 
    margin: 0;
}

/* group stylings */
.section{
    padding:5% 10%;
    width:80%;
    margin: 15px auto;
    border-radius: 0.5em;
}
.general, .currency{
    background-color: #ba90d3;
}
.weather, .holidays{
    background-color: #fbd6ff;
}
.general-info, .currency-info, .holiday-info, .more-weather{
    list-style: circle;
    line-height: 30px;
}
.currency-info, .holiday-info{
    margin-bottom: 10px;
}

/* show more arrow  */
.more{
    height: fit-content;
    margin: 0 auto;
    display: block;
    width: 50px;
    flex-basis: 100%;
    transition: 0.4s;
}
.more-arrow{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    width: 100%;
}
.up{
    transform: rotateX(180deg);
}

/* search section */
.search{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(images/background.jpg) no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-shadow: 0 1px 0 black;
}
form{
    text-align: center;
}
legend{
    width: 100%;
    text-align: center;
}
.instructions{
    margin: 30% auto 10%;
    width: 90%;
}
label{
    width: 70%;
    max-width: 300px;
    display: inline-block;
    text-align: left;
    margin-left: 8px;
}
#country{
    display: block;
    width: 70%;
    max-width: 300px;
    margin: 15px auto 8px;
    border:0.1em solid white;
    background-color: rgb(255, 255, 255,0.6);
    font-family: 'Lato', sans-serif;
    font-size:inherit;
    padding: 7px 10px;
}
#country::placeholder{
    color: rgb(0, 0, 0,0.7);
}
.submit-btn{
    display:inline-block;
    padding:0.35em 1.2em;
    font-size: inherit;
    border:0.1em solid white;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    background-color: rgba(0, 0, 0, 0.15);
    color:white;
    transition: all 0.3s;
}
@keyframes backgroundChange{
    from {background-color: #927496;}
    to {background-color: #454582;}
}
.submit-btn:hover, .submit-btn:focus{
    animation: backgroundChange 1s linear infinite alternate;
}

/*general*/
.general-info{
    list-style-position: inside;
}
.flag{
    width: 100%;
    max-width: 200px;
}
.flag-group{
    margin: 5px auto;
    display: block;
    position: relative;
    right: 40px;
    text-align: center;
    width: calc(100% + 40px);
}

/* weather */
.weather-info{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    flex-wrap: wrap;
}
.temperature{
    font-size: 24px;
}
.more-weather{
    flex-basis: 100%;
    margin-left: 40px;
}

/* currency */
.currency{
    display: flex;
    flex-wrap: wrap;
}
.currency-title{
    flex-basis: 100%;
}
.main-curr-group{
    display: flex;
    align-items: center;
    align-self: flex-start;
    width:20%;
    text-align: center;
    font-weight: 700;
}
.arrow{
    height: 30px;
    margin: auto 10px;
}
.currency-info{
    width: 50%;
    display: inline-block;
    margin: 16px 20px 10px auto;
}

/* return to top link */
.back{
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.back-txt{
    text-decoration: none;
    color: rgba(255, 255, 255,0.75);
    font-size: 1.2em;
}
.back-txt:hover{
    color: white;
    animation: colorChange 3s linear infinite alternate;
}
@keyframes bounce{
    from {bottom: 0; }
    to {bottom: 5px;}
}
.up-arrow{
    display: inline-block;
    position: relative; 
    animation: bounce 0.7s linear infinite alternate;
}

/* footer */
footer{
    background-color: #9d77b3;
    text-align: center;
    padding: 10px 8px;
}
footer p{
    margin: 0;
}
footer a{
    text-decoration: none;
    color: inherit;
    font-style: italic;
}@keyframes colorChange{
    from {color: #fbd6ff;}
    to {color: #ba90d3;}
}
footer a:hover{
    animation: colorChange 0.5s linear infinite alternate;
}
.author{
    font-weight: 700;
    margin-bottom: 5px;
}


/* error */
.error{
    text-align: center;
    width: 100%;
}


@media only screen and (min-width: 600px){
    .instructions{
        margin-top: 23%;
    }
    label{
        width: 60%;
        max-width: 500px;
        margin-left: 10px;
    }
    #country{
        width: 60%;
        max-width: 500px;
        margin-bottom: 15px;
    }
    .main-curr-group{
        margin-left: 35px;
    }
    footer{
        padding: 15px 10px;
    }
}

@media only screen and (min-width: 800px){
    .instructions{
        margin: 15% auto 8%;
    }
    .results{
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }
    .general{
        flex-basis: 100%;
    }
    .flag-group{
        width: 50%;
        float: left;
    }
    .flag{
        max-width: 300px;
    }
    .population{
        padding-top: 25px;
    }
    .left, .holidays{
        flex-basis: 50%;
    }
    .currency, .weather{
        margin-left: 0;
        width: 95%;
    }
}

.hidden{
    display: none;
    margin: 0;
}